[Unit]
Description=MNP Connector
After=network-online.target

[Service]
WorkingDirectory=/juno/apps/mnp-connector
ExecStart=/juno/apps/mnp-connector/mnp-connector
SuccessExitStatus=143
User=asterisk
Group=asterisk
Restart=always

[Install]
WantedBy=multi-user.target
