[Unit]
Description=MNP Connector HCM
After=network-online.target

[Service]
WorkingDirectory=/juno/apps
ExecStart=/juno/apps/ss7-link-monitor -f -F -n1 -u 'http://127.0.0.1:8289/api/public/health/down' /juno/ss7-connector-hcm/logs/ss7-connector.log
SuccessExitStatus=143
User=asterisk
Group=asterisk
Restart=always

[Install]
WantedBy=multi-user.target

